<% if @dishes.any? %>
  <form action="/" method="post" id="order_form">
    <ul>
      <% @dishes.each do |dish| %>
          <li id = "<%= dish[:name]%>">
            <h1><%= dish[:name]%></h1>
            <input type:"hidden" name="order_item[:dish_id]" value="dish[:id]" />
            <input type="text" name="order_item[quantity]" id="<%='quantity_'.concat(dish[:name]).tr(' ','')%>"/>
            <input type="submit" value="Add" id="<%='add_'.concat(dish[:name]).tr(' ','')%>"/>
          </li>
      <% end %>
    </ul>
  </form>
<% else %>
  <p>No dishes in the system</p>
<% end %>

<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
   <h1><%= restaurant[:name]%></h1>
   <h1><%= restaurant[:address]%></h1>
   <h1><%= restaurant[:description]%></h1>
  <% end %>
<% end %>
