<form action="/checkout" method="post" id="checkout_form">
  <input type="submit" value="Check out" id="check_out"/>
</form>

<% if @dishes.any? %>
  <form action="/" method="post" id="order_form">
    <ul>
      <% @dishes.each do |dish| %>
          <li id = "<%= dish[:name]%>">
            <p><%= dish[:name]%>
              <input type="hidden" name="order_item[][dish_id]" value="<%=dish[:id]%>" />
              <input type="text" name="order_item[][quantity]" id="<%='quantity_'.concat(dish[:name]).tr(' ','')%>"/>
              <input type="submit" value="Add" id="<%='add_'.concat(dish[:name]).tr(' ','')%>"/>
            </p>
          </li>
      <% end %>
    </ul>
  </form>
<% else %>
  <p>No dishes in the system</p>
<% end %>

<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">

    <% if @restaurants.any? %>
      <% @restaurants.each do |restaurant| %>
       <p><%= restaurant[:name]%></p>
       <p><%= restaurant[:address]%></p>
       <p><%= restaurant[:description]%></p>
      <% end %>
    <% end %>
  </div>
  </div>
</footer
